<div class="inside-the-box__body">
    <div class="inside-the-box__items">
      <div class="inside-the-box__item">
        <img src="https://cdn.shopify.com/s/files/1/0256/1038/7504/files/div.png?v=1708597553" />
        <div>
          <span class="inside-the-box__item_desc">Deeper Connect Air</span><br/>
          <span class="inside-the-box__item_desc">× 1</span>
        </div>
      </div>
      <div class="inside-the-box__item">
        <img src="https://cdn.shopify.com/s/files/1/0256/1038/7504/files/Air-USB.png?v=1711003270" />
        <div>
          <span class="inside-the-box__item_desc">
            <span style="display:inline-block">USB C To USB A Adapter</span><br/>
          <span class="inside-the-box__item_desc">× 1</span>
        </div>
      </div>  
      <div class="inside-the-box__item">
        <img src="https://cdn.shopify.com/s/files/1/0256/1038/7504/files/div_1.png?v=1708597586" />
        <div>
          <span class="inside-the-box__item_desc">
            <span style="display:inline-block">Instruction Guide</span><br/>
          <span class="inside-the-box__item_desc">× 1</span>
        </div>
      </div>
    </div>
  </div>

  <style>
  @media screen and (max-width: 1024px) { 
    .inside-the-box__items{
      width: 100%; 
      align-items: flex-start;
      justify-content: center;
      min-width: 520px;
    }
  }
</style>