<div class="product__closer__looker-body features mobile--hide small--hide medium--show large--show widescreen--show">
  <div class="feature-row">
    <div class="feature-item large">
      <div id="take-a-closer-look" class="feature-image lazyload">
        <div
          class="feature-content"
          style="background: linear-gradient(180deg, rgba(0, 0, 0, 0.70) 0%, rgba(0, 0, 0, 0) 100%); "
        >
          <div class="feature-content__title">Versatile Usage Scenarios</div>
          <div class="feature-content__desc">
            Ideal for use in homes, offices, cafes, during travel, at airports, or any location with wi-fi access！
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="feature-row">
    <div class="feature-item small">
      <div
        class="feature-image lazyload"
        style="background-image: url('https://cdn.shopify.com/s/files/1/0256/1038/7504/files/Rectangle_240647632.png?v=1708591081');"
      >
        <div
          class="feature-content"
          style="background: linear-gradient(180deg, rgba(0, 0, 0, 0.70) 0%, rgba(0, 0, 0, 0) 100%); "
        >
          <div class="feature-content__title">Ultimate Internet Solution</div>
          <div class="feature-content__desc">
            <span style="display:inline-block"
              >Enjoy a versatile, cost-effective, and portable device for seamless connectivity without any subscription
              fees.</span
            >
          </div>
        </div>
      </div>
    </div>
    <div class="feature-item medium">
      <div
        class="feature-image lazyload"
        style="background-image: url('https://cdn.shopify.com/s/files/1/0256/1038/7504/files/Frame_1000004118.png?v=1708592018');"
      >
        <div class="feature-content">
          <div class="feature-content__title">Wide Range Wireless Coverage</div>
          <div class="feature-content__desc">
            The newly designed dual-antenna ensures better signal coverage for users, providing an enhanced experience
            at home or on the go.
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="feature-row">
    <div class="feature-item medium">
      <div
        class="feature-image lazyload"
        style="background-image: url('https://cdn.shopify.com/s/files/1/0256/1038/7504/files/Frame_1000004119.png?v=1708592338');"
      >
        <div class="feature-content">
          <div class="feature-content__title">Multi-Device Support for Simultaneous Use</div>
          <div class="feature-content__desc">
            Max local speed: 300 Mbps <br>
            Supports simultaneous 4K video playback on five separate devices.
          </div>
        </div>
      </div>
    </div>
    <div class="feature-item small">
      <div
        class="feature-image lazyload"
        style="background-image: url('https://cdn.shopify.com/s/files/1/0256/1038/7504/files/Rectangle_240647632_1.png?v=1708592636');"
      >
        <div class="feature-content">
          <div class="feature-content__title">Web3 Boosted Capabilities</div>
          <div class="feature-content__desc">Explore more than 80 app and web 3.0 features at your fingertips.</div>
        </div>
      </div>
    </div>
  </div>
  <div class="feature-row">
    <div class="feature-item large">
      <div
        class="feature-image lazyload"
        style="background-image: url('https://cdn.shopify.com/s/files/1/0256/1038/7504/files/Frame_1000004118_573955df-12ca-4dfd-ba17-66a52bbd4f27.png?v=1709869440');width:100%; background-size: cover;background-repeat: no-repeat;"
      >
        <div class="feature-content">
          <div class="feature-content__title">why choose us</div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="product__closer__looker-body features mobile--show small--show medium--hide large--hide widescreen--hide">
  <div class="feature-item">
    <div id="take-a-closer-look-mobile" class="feature-mobile-image">
      <img
        src="https://cdn.shopify.com/s/files/1/0256/1038/7504/files/Rectangle_240647644.png?v=1708593361"
        class="lazyload"
        loading="lazy"
        alt="Versatile Usage Scenarios"
      >
      <div
        class="feature-content"
        style="background: linear-gradient(180deg, rgba(0, 0, 0, 0.70) 0%, rgba(0, 0, 0, 0) 100%); "
      >
        <div class="feature-content__title">Versatile Usage Scenarios</div>
        <div class="feature-content__desc">
          Ideal for use in homes, offices, cafes, during travel, at airports, or any location with Wi-Fi access！
        </div>
      </div>
    </div>

    <div class="feature-mobile-image">
      <img
        src="https://cdn.shopify.com/s/files/1/0256/1038/7504/files/Rectangle_240647644_1.png?v=1708593495"
        class="lazyload"
        loading="lazy"
        alt="Ultimate Internet Solution"
      >
      <div
        class="feature-content"
        style="background: linear-gradient(180deg, rgba(0, 0, 0, 0.70) 0%, rgba(0, 0, 0, 0) 100%); "
      >
        <div class="feature-content__title">Ultimate Internet Solution</div>
        <div class="feature-content__desc">
          Enjoy a versatile, cost-effective, and portable device for seamless connectivity without any subscription
          fees.
        </div>
      </div>
    </div>

    <div class="feature-mobile-image">
      <img
        src="https://cdn.shopify.com/s/files/1/0256/1038/7504/files/Frame_1000004190.png?v=1708593493"
        class="lazyload"
        loading="lazy"
        alt="Wide Range Wireless Coverage"
      >
      <div
        class="feature-content"
        style="background: linear-gradient(180deg, rgba(0, 0, 0, 0.70) 0%, rgba(0, 0, 0, 0) 100%); "
      >
        <div class="feature-content__title">
          Wide Range Wireless<br>
          Coverage
        </div>
        <div class="feature-content__desc">
          The newly designed dual-antenna ensures better signal coverage for users, providing an enhanced experience at
          home or on the go.
        </div>
      </div>
    </div>

    <div class="feature-mobile-image">
      <img
        src="https://cdn.shopify.com/s/files/1/0256/1038/7504/files/Frame_1000004198.png?v=1708593492"
        class="lazyload"
        loading="lazy"
        alt="Multi-Device Support for Simultaneous Use"
      >
      <div
        class="feature-content"
        style="background: linear-gradient(180deg, rgba(0, 0, 0, 0.70) 0%, rgba(0, 0, 0, 0) 100%); "
      >
        <div class="feature-content__title">
          Multi-Device Support for <br>
          Simultaneous Use
        </div>
        <div class="feature-content__desc">
          Max local speed: 300 Mbps Supports simultaneous 4K video playback on five separate devices.
        </div>
      </div>
    </div>

    <div class="feature-mobile-image">
      <img
        src="https://cdn.shopify.com/s/files/1/0256/1038/7504/files/Rectangle_240647632_2_010b8f31-527b-44c1-b7ab-ab792357c12e.png?v=1709017450"
        class="lazyload"
        loading="lazy"
        alt="Web3 Boosted Capabilities"
      >
      <div
        class="feature-content"
        style="background: linear-gradient(180deg, rgba(0, 0, 0, 0.70) 0%, rgba(0, 0, 0, 0) 100%); "
      >
        <div class="feature-content__title">Web3 Boosted Capabilities</div>
        <div class="feature-content__desc">Explore more than 80 App and web 3.0 features at your fingertips.</div>
      </div>
    </div>

    <div class="feature-mobile-image">
      <img
        src="https://cdn.shopify.com/s/files/1/0256/1038/7504/files/Rectangle_240647632_2_b64923c4-8846-4b52-add4-a4ddb61d1d1f.png?v=1710399904"
        class="lazyload"
        loading="lazy"
        alt="why choose us"
      >
      <div
        class="feature-content"
        style="background: linear-gradient(180deg, rgba(0, 0, 0, 0.70) 0%, rgba(0, 0, 0, 0) 100%); "
      >
        <div class="feature-content__title">why choose us</div>
      </div>
    </div>
  </div>
</div>
<style>
  #take-a-closer-look {
    height: 600px;
    background-image: url('https://public.deeper.network/air_gif_web.gif');
    background-size: cover;
    background-repeat: no-repeat;
  }
</style>
