<div class="product__closer__looker-body features mobile--hide small--hide medium--show large--show widescreen--show">
  <div class="feature-row">
    <div class="feature-item large">
      <div id="take-a-closer-look" class="feature-image">
        <div
          class="feature-content lazyload"
          style="background-image: url('https://public.deeper.network/air_gif_web.gif');background-position: center;"
        >
          <div class="feature-content__title">Versatile Usage Scenarios</div>
          <div class="feature-content__desc">
            Ideal for use in homes, offices, cafes, during travel, at airports, or any location with Wi-Fi access！
          </div>
        </div>
        <div
          class="feature-content lazyload"
          style="background-image: url('//public.deeper.network/Take a Closer Look_minise_web.gif');background-position: center;"
        >
          <div class="feature-content__title">Protect Your Home Network Security</div>
          <div class="feature-content__desc">
            Comprehensive network security features safeguard your entire family's online safety.
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="feature-row">
    <div class="feature-item small">
      <div
        class="feature-image lazyload"
        style="background-image: url('https://cdn.shopify.com/s/files/1/0256/1038/7504/files/Ultimate_Internet_Solution.png?v=1711414995');"
      >
        <div
          class="feature-content"
          style="background: linear-gradient(180deg, rgba(0, 0, 0, 0.70) 0%, rgba(0, 0, 0, 0) 100%); "
        >
          <div class="feature-content__title">Ultimate Internet Solution</div>
          <div class="feature-content__desc">
            Enjoy a versatile, cost-effective, and portable device for<br>
            seamless connectivity without any subscription fees.
          </div>
        </div>
      </div>
    </div>
    <div class="feature-item medium">
      <div
        class="feature-image lazyload"
        style="background-image: url('https://cdn.shopify.com/s/files/1/0256/1038/7504/files/Core.png?v=1711414994');"
      >
        <div class="feature-content">
          <div class="feature-content__title">Budget-Friendly Deeper Connect</div>
          <div class="feature-content__desc">
            4-Core processor and 2GB of RAM memory. <br>
            Ideal for the majority of home users.
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="feature-row">
    <div class="feature-item medium">
      <div
        class="feature-image lazyload"
        style="background-image: url('https://cdn.shopify.com/s/files/1/0256/1038/7504/files/Mini-Air-Banner9.png?v=1715218944');"
      >
        <div class="feature-content">
          <div class="feature-content__title">Multi-Device Support for Simultaneous Use</div>
          <div class="feature-content__desc">Speed: 300 Mbps (Air), 500 Mbps (SE).</div>
          <div class="feature-content__desc">Playback on 5 (Air), 50 (SE) Devices.</div>
        </div>
      </div>
    </div>
    <div class="feature-item small">
      <div
        class="feature-image lazyload"
        style="background-image: url('https://cdn.shopify.com/s/files/1/0256/1038/7504/files/Mini-Air-Banner10.png?v=1715218945');"
      >
        <div class="feature-content">
          <div class="feature-content__title">Web3 Boosted Capabilities</div>
          <div class="feature-content__desc">Explore more than 80 app and web 3.0 features at your fingertips.</div>
        </div>
      </div>
    </div>
  </div>
  <div class="feature-row">
    <div class="feature-item large">
      <div
        class="feature-image lazyload"
        style="background-image: url('https://cdn.shopify.com/s/files/1/0256/1038/7504/files/Frame_1000004118_573955df-12ca-4dfd-ba17-66a52bbd4f27.png?v=1709869440');width:100%; background-size: cover;background-repeat: no-repeat;"
      >
        <div class="feature-content">
          <div class="feature-content__title">why choose us</div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="product__closer__looker-body features mobile--show small--show medium--hide large--hide widescreen--hide">
  <div class="feature-item">
    <div id="take-a-closer-look-mobile" class="feature-mobile-image">
      <div style="flex:1;position:relative;height:50%;">
        <img
          class="lazyload"
          src="https://public.deeper.network/Pico-Versatile.gif"
          style="width: 100%;height:100%;object-fit: cover;"
          alt="Pico-Versatile"
          loading="lazy"
        >
        <div
          class="feature-content"
          style="background: linear-gradient(180deg, rgba(0, 0, 0, 0.70) 0%, rgba(0, 0, 0, 0) 100%); "
        >
          <div class="feature-content__title">Versatile Usage Scenarios</div>
          <div class="feature-content__desc">
            Ideal for use in homes, offices, cafes, during travel, at airports, or any location with Wi-Fi access！
          </div>
        </div>
      </div>
      <div style="flex:1;position:relative;height:50%;">
        <img
          class="lazyload"
          src="//public.deeper.network/Take a Closer Look_minise_web.gif"
          style="width: 100%;height:100%;object-fit: cover;"
          alt="Take a Closer Look_minise_web"
          loading="lazy"
        >
        <div
          class="feature-content"
          style="background: linear-gradient(180deg, rgba(0, 0, 0, 0.70) 0%, rgba(0, 0, 0, 0) 100%); "
        >
          {% comment %}
            <div class="feature-content__title">Protect Your Home Network <br> Security</div>
            <div class="feature-content__desc">Comprehensive network security features safeguard your entire family's online safety.</div>
          {% endcomment %}
        </div>
      </div>
    </div>

    <div class="feature-mobile-image">
      <img
        src="https://cdn.shopify.com/s/files/1/0256/1038/7504/files/Ultimate_Internet_Solution-phone.png?v=1711416363"
        class="lazyload"
        loading="lazy"
        alt="Ultimate_Internet_Solution-phone"
      >
      <div
        class="feature-content"
        style="background: linear-gradient(180deg, rgba(0, 0, 0, 0.70) 0%, rgba(0, 0, 0, 0) 100%); "
      >
        <div class="feature-content__title">Ultimate Internet Solution</div>
        <div class="feature-content__desc">
          Enjoy a versatile, cost-effective, and portable device for seamless connectivity without any subscription
          fees.
        </div>
      </div>
    </div>

    <div class="feature-mobile-image">
      <img
        src="https://cdn.shopify.com/s/files/1/0256/1038/7504/files/Core-phone.png?v=1711416363"
        class="lazyload"
        loading="lazy"
        alt="Core-phone"
      >
      <div
        class="feature-content"
        style="background: linear-gradient(180deg, rgba(0, 0, 0, 0.70) 0%, rgba(0, 0, 0, 0) 100%); "
      >
        <div class="feature-content__title">
          Budget-Friendly Deeper <br>
          Connect
        </div>
        <div class="feature-content__desc">
          4-Core processor and 2GB of RAM memory. Ideal for the majority of home users.
        </div>
      </div>
    </div>

    <div class="feature-mobile-image">
      <img
        src="https://cdn.shopify.com/s/files/1/0256/1038/7504/files/Mini-Air-Banner10.png?v=1715218945"
        alt="Mini-Air-Banner10"
        class="lazyload"
        loading="lazy"
      >
      <div
        class="feature-content "
        style="background: linear-gradient(180deg, rgba(0, 0, 0, 0.70) 0%, rgba(0, 0, 0, 0) 100%); "
      >
        <div class="feature-content__title">
          Multi-Device Support for <br>
          Simultaneous Use
        </div>
        <div class="feature-content__desc">Max Local Speed: 100 Mbps (Pico), 1000Mbps</div>
        <div class="feature-content__desc">(Mini). Playback on 5 (Pico), 50 (MINI) Devices.</div>
      </div>
    </div>

    <div class="feature-mobile-image">
      <img
        src="https://cdn.shopify.com/s/files/1/0256/1038/7504/files/Mini-Air-Banner10-phone.png?v=1715219657"
        class="lazyload"
        loading="lazy"
        alt="Mini-Air-Banner10-phone"
      >
      <div
        class="feature-content"
        style="background: linear-gradient(180deg, rgba(0, 0, 0, 0.70) 0%, rgba(0, 0, 0, 0) 100%); "
      >
        <div class="feature-content__title">Web3 Boosted Capabilities</div>
        <div class="feature-content__desc">Explore more than 80 app and web 3.0 features at your fingertips.</div>
      </div>
    </div>

    <div class="feature-mobile-image">
      <img
        src="https://cdn.shopify.com/s/files/1/0256/1038/7504/files/Rectangle_240647632_2_b64923c4-8846-4b52-add4-a4ddb61d1d1f.png?v=1710399904"
        alt=""
        class="lazyload"
        loading="lazy"
      >
      <div
        class="feature-content"
        style="background: linear-gradient(180deg, rgba(0, 0, 0, 0.70) 0%, rgba(0, 0, 0, 0) 100%); "
      >
        <div class="feature-content__title">why choose us</div>
      </div>
    </div>
  </div>
</div>
<style>
  #take-a-closer-look {
    height: 600px;
    /* background-image: url('//public.deeper.network/Take a Closer Look_minise_web.gif'); */
    display: flex;
  }
</style>
