<div class="inside-the-box__body">

<div class="inside-the-box__items">
  <div class="inside-the-box__item">
    <img src="https://cdn.shopify.com/s/files/1/0256/1038/7504/files/mini-inside-the-box-01.jpg?v=1706104982" />
    <div>
      <span class="inside-the-box__item_desc">Deeper Connect Mini</span><br/>
      <span class="inside-the-box__item_desc">× 1</span>
    </div>
  </div>
  <div class="inside-the-box__item">
    <img src="https://cdn.shopify.com/s/files/1/0256/1038/7504/files/Pico_Mini-inside-box02.png?v=1715052484" />
    <div>
      <span class="inside-the-box__item_desc">
        <span style="display:inline-block">Deeper Connect <br>
          Dual Antennas Wi-Fi Adapter
         </span><br/>
      <span class="inside-the-box__item_desc">  × 1</span>
    </div>
  </div>
  <div class="inside-the-box__item">
    <img src="https://cdn.shopify.com/s/files/1/0256/1038/7504/files/Power.png?v=1716173803" />
    <div>
      <span class="inside-the-box__item_desc">power adapter(US)</span><br/>
      <span class="inside-the-box__item_desc">× 1</span>
    </div>
  </div>

  <div class="inside-the-box__item">
    <img src="https://cdn.shopify.com/s/files/1/0256/1038/7504/files/mini-inside-the-box-04.jpg?v=1706104982" />
    <div>
      <span class="inside-the-box__item_desc">network cable</span><br/>
      <span class="inside-the-box__item_desc">× 1</span>
    </div>
  </div>
  <div class="inside-the-box__item">
    <img src="https://cdn.shopify.com/s/files/1/0256/1038/7504/files/mini-inside-the-box-05.jpg?v=1706104982" />
    <div>
      <span class="inside-the-box__item_desc">USB Type-C Power Cable</span><br/>
      <span class="inside-the-box__item_desc">× 1</span>
    </div>
  </div>
  <div class="inside-the-box__item">
    <img src="https://cdn.shopify.com/s/files/1/0256/1038/7504/files/pico-inside-the-box-06.jpg?v=1706104982" />
    <div>
      <span class="inside-the-box__item_desc">Instruction Guide</span><br/>
      <span class="inside-the-box__item_desc">× 1</span>
    </div>
  </div>
</div>
<div class="inside-the-box__items">
  <div class="inside-the-box__item">
    <img src="https://cdn.shopify.com/s/files/1/0256/1038/7504/files/div.png?v=1708597553" />
    <div>
      <span class="inside-the-box__item_desc">Deeper Connect Air</span><br/>
      <span class="inside-the-box__item_desc">× 1</span>
    </div>
  </div>
  <div class="inside-the-box__item">
    <img src="https://cdn.shopify.com/s/files/1/0256/1038/7504/files/Air-USB.png?v=1711003270" />
    <div>
      <span class="inside-the-box__item_desc">
        <span style="display:inline-block">USB C To USB A Adapter</span><br/>
      <span class="inside-the-box__item_desc">× 1</span>
    </div>
  </div>  
  <div class="inside-the-box__item">
    <img src="https://cdn.shopify.com/s/files/1/0256/1038/7504/files/div_1.png?v=1708597586" />
    <div>
      <span class="inside-the-box__item_desc">
        <span style="display:inline-block">Instruction Guide</span><br/>
      <span class="inside-the-box__item_desc">× 1</span>
    </div>
  </div>
</div>
</div>

<style>
  .inside-the-box__body {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
  }

  @media screen and (max-width: 1024px) {

    .inside-the-box__body {
      width: 100%;
      justify-content: flex-start;
    } 


    .inside-the-box__items{ 
      width: calc(178px *6 + 20px *6);
      align-items: flex-start;
      justify-content: center;
    }
  }
</style>