<div class="inside-the-box__body">
  <div class="inside-the-box_bg"></div>
  <div class="inside-the-box__items">
    <div class="inside-the-box__item">
      <img
        src="https://cdn.shopify.com/s/files/1/0256/1038/7504/files/usb-inside1.png?v=1724989603"
        alt=""
        class="lazyload"
      >
      <div>
        <span class="inside-the-box__item_desc"
          >Deeper Connect Wi-Fi <br>
          Adapter (USB-A) × 1</span
        ><br>
        <!-- <span class="inside-the-box__item_desc"></span> -->
      </div>
    </div>
    <div class="inside-the-box__item">
      <img
        src="https://cdn.shopify.com/s/files/1/0256/1038/7504/files/usb-inside2.png?v=1724989602"
        alt=""
        class="lazyload"
      >
      <div>
        <span class="inside-the-box__item_desc">
          <span style="display:inline-block">Instruction Guide </span><br>
          <span class="inside-the-box__item_desc">× 1</span>
        </span>
      </div>
    </div>
  </div>
</div>
