<div class="inside-the-box__body">
  <div class="inside-the-box_bg"></div>
  <div class="inside-the-box__items">
    <div class="inside-the-box__item">
      <img
        src="https://cdn.shopify.com/s/files/1/0256/1038/7504/files/wifi-inside-1.png?v=1725531089"
        alt=""
        class="lazyload"
      >
      <div>
        <span class="inside-the-box__item_desc"
          >Deeper Connect Dual <br>
          Antennas Wi-Fi Adapter</span
        >
        <span class="inside-the-box__item_desc"> x1</span>
      </div>
    </div>
    <div class="inside-the-box__item">
      <img
        src="https://cdn.shopify.com/s/files/1/0256/1038/7504/files/wifi-inside-2.png?v=1725531089"
        alt=""
        class="lazyload"
      >
      <div>
        <span class="inside-the-box__item_desc">
          <span style="display:inline-block"
            >Usb Type-C to <br>
            Usb Type-C Cable </span
          ><br>
          <span class="inside-the-box__item_desc">× 1</span>
        </span>
      </div>
    </div>
    <div class="inside-the-box__item">
      <img
        src="https://cdn.shopify.com/s/files/1/0256/1038/7504/files/wifi-inside-3.png?v=1725531089"
        alt=""
        class="lazyload"
      >
      <div>
        <span class="inside-the-box__item_desc">
          <span style="display:inline-block">Instruction Guide</span><br>
          <span class="inside-the-box__item_desc">× 1</span>
        </span>
      </div>
    </div>
  </div>
</div>
<style>
  @media screen and (max-width: 1024px) {
    .inside-the-box_bg {
      width: 150% !important;
    }
  }
</style>
