<div class="inside-the-box__body">
  <div class="inside-the-box_bg"></div>
  <div class="inside-the-box__items">
    <div class="inside-the-box__item">
      <img
        src="https://cdn.shopify.com/s/files/1/0256/1038/7504/files/usb-c-inside-1.png?v=1725523980"
        alt=""
        class="lazyload"
      >
      <div>
        <span class="inside-the-box__item_desc"
          >Deeper Connect Wi-Fi <br>
          Adapter (USB-C)x1</span
        ><br>
        <!-- <span class="inside-the-box__item_desc"></span> -->
      </div>
    </div>
    <div class="inside-the-box__item">
      <img
        src="https://cdn.shopify.com/s/files/1/0256/1038/7504/files/usb-c-inside-2.png?v=1725523970"
        alt=""
        class="lazyload"
      >
      <div>
        <span class="inside-the-box__item_desc">
          <span style="display:inline-block">Instruction Guide </span><br>
          <span class="inside-the-box__item_desc">× 1</span>
        </span>
      </div>
    </div>
  </div>
</div>
