<div
  class="product__closer__looker-body features mobile--hide small--hide medium--show large--show widescreen--show"
>
  <div class="feature-row">
    <div class="feature-item large">
      <div id="take-a-closer-look" class="feature-image">
        <div
          class="feature-content"
          style=" background-size: 100%;background-image: url('https://cdn.shopify.com/s/files/1/0256/1038/7504/files/Pico-Lite-video-bg.png?v=1717771436');background-position: center;"
        ></div>
      </div>
      <div id="feature-video" style="display:none;">
        <video width="100%" height="100%" controls>
          <source src="https://cdn.shopify.com/videos/c/o/v/10d27cbe95334bd88f248b5b4f35f144.mp4" type="video/mp4">
          Lite Video
        </video>
      </div>
    </div>
  </div>

  <div class="feature-row">
    <div class="feature-item small">
      <div
        class="feature-image"
        style="background-image: url('https://cdn.shopify.com/s/files/1/0256/1038/7504/files/Ultimate_Internet_Solution.png?v=1711414995');"
      >
        <div
          class="feature-content"
          style="background: linear-gradient(180deg, rgba(0, 0, 0, 0.70) 0%, rgba(0, 0, 0, 0) 100%); "
        >
          <div class="feature-content__title">Ultimate Internet Solution</div>
          <div class="feature-content__desc">
            Enjoy a versatile, cost-effective, and portable device for<br>
            seamless connectivity without any subscription fees.
          </div>
        </div>
      </div>
    </div>
    <div class="feature-item medium">
      <div
        class="feature-image"
        style="background-image: url('https://cdn.shopify.com/s/files/1/0256/1038/7504/files/Lite-wide.png?v=1717771150');"
      >
        <div class="feature-content">
          <div class="feature-content__title">Wide Range Wireless Coverage</div>
          <div class="feature-content__desc">
            Paired with the Wi-Fi adapter, it can provide wireless network coverage for specific areas.
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="feature-row">
    <div class="feature-item large">
      <div
        class="feature-image"
        style="background-image: url('https://cdn.shopify.com/s/files/1/0256/1038/7504/files/Frame_1000004118_573955df-12ca-4dfd-ba17-66a52bbd4f27.png?v=1709869440');width:100%; background-size: cover;background-repeat: no-repeat;"
      >
        <div class="feature-content">
          <div class="feature-content__title">why choose us</div>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  class="product__closer__looker-body features mobile--show small--show medium--hide large--hide widescreen--hide"
>
  <div class="feature-item">
    <div id="take-a-closer-look-mobile" class="feature-mobile-image">
      <img
        src="https://cdn.shopify.com/s/files/1/0256/1038/7504/files/Pico-Lite-video-bg-phone.png?v=1717809226"
        style="width: 100%;height:100%;object-fit: cover;"
      >
      <div class="feature-content">
        <div class="feature-content__title" style="color: black;">
          Let’s See How <br>
          You Can Use It Too!
        </div>
        <div class="feature-content__desc" style="color: black;">Deeper Connect Pico Lite</div>
      </div>
      <video id="feature-video2" width="100%" height="100%" controls style="display:none;">
        <source src="https://cdn.shopify.com/videos/c/o/v/10d27cbe95334bd88f248b5b4f35f144.mp4" type="video/mp4">
        Lite Video
      </video>
    </div>

    <div class="feature-mobile-image">
      <img
        src="https://cdn.shopify.com/s/files/1/0256/1038/7504/files/Ultimate_Internet_Solution-phone.png?v=1711416363"
      >
      <div
        class="feature-content"
        style="background: linear-gradient(180deg, rgba(0, 0, 0, 0.70) 0%, rgba(0, 0, 0, 0) 100%); "
      >
        <div class="feature-content__title">Ultimate Internet Solution</div>
        <div class="feature-content__desc">
          Enjoy a versatile, cost-effective, and portable device for seamless connectivity without any subscription
          fees.
        </div>
      </div>
    </div>

    <div class="feature-mobile-image">
      <img src="https://cdn.shopify.com/s/files/1/0256/1038/7504/files/PicoLite-wide-phone.png?v=1712817546">
      <div
        class="feature-content"
        style="background: linear-gradient(180deg, rgba(0, 0, 0, 0.70) 0%, rgba(0, 0, 0, 0) 100%); "
      >
        <div class="feature-content__title">
          Wide Range Wireless <br>
          Coverage
        </div>
        <div class="feature-content__desc">
          Paired with the Wi-Fi adapter, it can provide wireless network coverage for specific areas.
        </div>
      </div>
    </div>

    <div class="feature-mobile-image">
      <img
        src="https://cdn.shopify.com/s/files/1/0256/1038/7504/files/Rectangle_240647632_2_b64923c4-8846-4b52-add4-a4ddb61d1d1f.png?v=1710399904"
      >
      <div
        class="feature-content"
        style="background: linear-gradient(180deg, rgba(0, 0, 0, 0.70) 0%, rgba(0, 0, 0, 0) 100%); "
      >
        <div class="feature-content__title">why choose us</div>
      </div>
    </div>
  </div>
</div>

<style>
  #take-a-closer-look {
    height: 500px;
    display: flex;
  }

  .take-a-closer-look-mobile {
    position: relative;
  }

  #feature-video {
    position: relative;
    height: 500px;
  }

  #feature-video video {
    position: absolute;
    inset: 0;
  }
  @media screen and (max-width: 768px) {
    .feature-item {
      width: auto !important;
    }
  }
</style>
<script>
  let lite_video = document.getElementById('take-a-closer-look');
  let take_a_closer_look_mobile = document.getElementById('take-a-closer-look-mobile');
  let feature_video2 = document.getElementById('feature-video2');
  let feature_video = document.getElementById('feature-video');
  lite_video.addEventListener('click', function () {
    console.log(this);
    this.style.display = 'none';
    feature_video.style.display = 'block';
    document.querySelector('#feature-video video').play();
  });
  take_a_closer_look_mobile.addEventListener('click', function (e) {
    document.querySelector('#take-a-closer-look-mobile img').style.display = 'none';
    document.querySelector('#take-a-closer-look-mobile .feature-content').style.display = 'none';
    feature_video2.style.display = 'block';
    feature_video2.play();
  });
</script>
