<div class="inside-the-box__body">
  <div class="inside-the-box__items">
    <div class="inside-the-box__item">
      <img src="https://cdn.shopify.com/s/files/1/0256/1038/7504/files/Pico-lite-inside.png?v=1717817932">
      <div>
        <span class="inside-the-box__item_desc">Deeper Connect Pico Lite</span><br>
        <span class="inside-the-box__item_desc">× 1</span>
      </div>
    </div>
    <div class="inside-the-box__item">
      <img src="https://cdn.shopify.com/s/files/1/0256/1038/7504/files/PicoLite-Box2.png?v=1712828364">
      <div>
        <span class="inside-the-box__item_desc">
          <span style="display:inline-block">Deeper Connect Wi-Fi Adapter</span><br>
          <span class="inside-the-box__item_desc">× 1</span>
        </span>
      </div>
    </div>
    {% comment %}
      <div class="inside-the-box__item">
        <img src="https://cdn.shopify.com/s/files/1/0256/1038/7504/files/PicoLite-Box3.png?v=1712828364">
        <div>
          <span class="inside-the-box__item_desc">
            <span style="display:inline-block">power adapter(US)</span><br>
            <span class="inside-the-box__item_desc">× 1</span>
          </span>
        </div>
      </div>
    {% endcomment %}
    <div class="inside-the-box__item">
      <img src="https://cdn.shopify.com/s/files/1/0256/1038/7504/files/PicoLite-Box4.png?v=1712828364">
      <div>
        <span class="inside-the-box__item_desc">
          <span style="display:inline-block">network cable</span><br>
          <span class="inside-the-box__item_desc">× 1</span>
        </span>
      </div>
    </div>
    <div class="inside-the-box__item">
      <img src="https://cdn.shopify.com/s/files/1/0256/1038/7504/files/PicoLite-Box5.png?v=1712828364">
      <div>
        <span class="inside-the-box__item_desc">
          <span style="display:inline-block">USB Type-C Power Cable</span><br>
          <span class="inside-the-box__item_desc">× 1</span>
        </span>
      </div>
    </div>
    <div class="inside-the-box__item">
      <img src="https://cdn.shopify.com/s/files/1/0256/1038/7504/files/PicoLite-Box6.png?v=1712828364">
      <div>
        <span class="inside-the-box__item_desc">
          <span style="display:inline-block">Instruction Guide</span><br>
          <span class="inside-the-box__item_desc">× 1</span>
        </span>
      </div>
    </div>
  </div>
</div>

<style>
  .inside-the-box__body {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
  }

  @media screen and (max-width: 1024px) {
    .inside-the-box__body {
      width: 100%;
      justify-content: flex-start;
    }

    .inside-the-box__items {
      width: calc(178px * 6 + 20px * 6);
      align-items: flex-start;
      justify-content: center;
    }
  }
</style>
