<div class="product__closer__looker-body features mobile--hide small--hide medium--show large--show widescreen--show">
  <div class="feature-row">
    <div class="feature-item large">
      <div id="take-a-closer-look" class="feature-image lazyload">
        <div
          class="feature-content"
          style="background: linear-gradient(180deg, rgba(0, 0, 0, 0.70) 0%, rgba(0, 0, 0, 0) 100%); "
        >
          <div class="feature-content__title">Protect Your Home Network’s Security</div>
          <div class="feature-content__desc">
            Comprehensive network security features safeguard your entire family's online safety.
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="feature-row">
    <div class="feature-item small">
      <div
        class="feature-image lazyload"
        style="background-image: url('https://cdn.shopify.com/s/files/1/0256/1038/7504/files/take-a-closer-look-mini-02.jpg?v=1706088146');"
      >
        <div
          class="feature-content"
          style="background: linear-gradient(180deg, rgba(0, 0, 0, 0.70) 0%, rgba(0, 0, 0, 0) 100%); "
        >
          <div class="feature-content__title">The Most Powerful Deeper Connect</div>
          <div class="feature-content__desc">
            4-Core processor and 2GB of RAM memory. <br>
            Strong performance for exceptional results.
          </div>
        </div>
      </div>
    </div>
    <div class="feature-item medium">
      <div
        class="feature-image lazyload"
        style="background-image: url('https://cdn.shopify.com/s/files/1/0256/1038/7504/files/take-a-closer-look-mini-03.jpg?v=1706088147');"
      >
        <div class="feature-content">
          <div class="feature-content__title">Wide Range Wireless Coverage</div>
          <div class="feature-content__desc">
            Paired with the latest dual-antenna Wi-Fi adapter, it provides coverage for living spaces of up to 1500
            square feet.
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="feature-row">
    <div class="feature-item medium">
      <div
        class="feature-image lazyload"
        style="background-image: url('https://cdn.shopify.com/s/files/1/0256/1038/7504/files/Mini-Banner4_9ce1ec96-a9c5-48b1-9eab-fcaf9136075f.png?v=1715249046');"
      >
        <div class="feature-content">
          <div class="feature-content__title">Multi-Device Support for Simultaneous Use</div>
          <div class="feature-content__desc">Speed: 1Gbps</div>
          <div class="feature-content__desc">Video Format: 4K</div>
        </div>
      </div>
    </div>
    <div class="feature-item small">
      <div
        class="feature-image lazyload"
        style="background-image: url('https://cdn.shopify.com/s/files/1/0256/1038/7504/files/Mini-Banner5_e0c8da71-b83d-47b5-a79d-0d412d38b92f.png?v=1715254529');"
      >
        <div class="feature-content">
          <div class="feature-content__title">Web3 Boosted Capabilities</div>
          <div class="feature-content__desc">Explore more than 80 app and web 3.0 features at your fingertips.</div>
        </div>
      </div>
    </div>
  </div>
  <div class="feature-row">
    <div class="feature-item large">
      <div
        class="feature-image lazyload"
        style="background-image: url('https://cdn.shopify.com/s/files/1/0256/1038/7504/files/Frame_1000004118_573955df-12ca-4dfd-ba17-66a52bbd4f27.png?v=1709869440');width:100%; background-size: cover;background-repeat: no-repeat;"
      >
        <div class="feature-content">
          <div class="feature-content__title">why choose us</div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="product__closer__looker-body features mobile--show small--show medium--hide large--hide widescreen--hide">
  <div class="feature-item">
    <div id="take-a-closer-look-mobile" class="feature-mobile-image">
      <img
        src="//public.deeper.network/Take a Closer Look_minise_phone.gif"
        class="lazyload"
        loading="lazy"
        alt=""
      >
      <div
        class="feature-content"
        style="background: linear-gradient(180deg, rgba(0, 0, 0, 0.70) 0%, rgba(0, 0, 0, 0) 100%); "
      >
        <div class="feature-content__title">
          Protect Your Home <br>
          Network’s Security
        </div>
        <div class="feature-content__desc">
          Comprehensive network security features safeguard your entire family's online safety.
        </div>
      </div>
    </div>

    <div class="feature-mobile-image">
      <img
        src="//cdn.shopify.com/s/files/1/0256/1038/7504/files/se-take-acloser-look-mobile-02.jpg?v=1706290148"
        class="lazyload"
        loading="lazy"
        alt=""
      >
      <div
        class="feature-content"
        style="background: linear-gradient(180deg, rgba(0, 0, 0, 0.70) 0%, rgba(0, 0, 0, 0) 100%); "
      >
        <div class="feature-content__title">
          The Most Powerful Deeper <br>
          Connect
        </div>
        <div class="feature-content__desc">
          4-Core processor and 2GB of RAM memory. <br>
          Ideal for the majority of home users.
        </div>
      </div>
    </div>

    <div class="feature-mobile-image">
      <img
        src="//cdn.shopify.com/s/files/1/0256/1038/7504/files/se-take-acloser-look-mobile-03.jpg?v=1706290148"
        class="lazyload"
        loading="lazy"
        alt=""
      >
      <div
        class="feature-content"
        style="background: linear-gradient(180deg, rgba(0, 0, 0, 0.70) 0%, rgba(0, 0, 0, 0) 100%); "
      >
        <div class="feature-content__title">
          Wide Range Wireless<br>
          Coverage
        </div>
        <div class="feature-content__desc">
          Paired with the latest dual-antenna Wi-Fi adapter, it provides coverage for living spaces of up to 1500 square
          feet.
        </div>
      </div>
    </div>

    <div class="feature-mobile-image">
      <img
        src="https://cdn.shopify.com/s/files/1/0256/1038/7504/files/Mini-Banner4-phone.png?v=1715249218"
        class="lazyload"
        loading="lazy"
        alt=""
      >
      <div
        class="feature-content"
        style="background: linear-gradient(180deg, rgba(0, 0, 0, 0.70) 0%, rgba(0, 0, 0, 0) 100%); "
      >
        <div class="feature-content__title">
          Multi-Device Support for <br>
          Simultaneous Use
        </div>
        <div class="feature-content__desc">Speed: 1Gbps</div>
        <div class="feature-content__desc">Video Format: 4K</div>
      </div>
    </div>

    <div class="feature-mobile-image">
      <img
        src="https://cdn.shopify.com/s/files/1/0256/1038/7504/files/Mini-Banner5-phone.png?v=1715254529"
        class="lazyload"
        loading="lazy"
        alt=""
      >
      <div
        class="feature-content"
        style="background: linear-gradient(180deg, rgba(0, 0, 0, 0.70) 0%, rgba(0, 0, 0, 0) 100%); "
      >
        <div class="feature-content__title">Web3 Boosted Capabilities</div>
        <div class="feature-content__desc">Explore more than 80 app and web 3.0 features at your fingertips.</div>
      </div>
    </div>

    <div class="feature-mobile-image">
      <img
        src="https://cdn.shopify.com/s/files/1/0256/1038/7504/files/Rectangle_240647632_2_b64923c4-8846-4b52-add4-a4ddb61d1d1f.png?v=1710399904"
        class="lazyload"
        loading="lazy"
        alt=""
      >
      <div
        class="feature-content"
        style="background: linear-gradient(180deg, rgba(0, 0, 0, 0.70) 0%, rgba(0, 0, 0, 0) 100%); "
      >
        <div class="feature-content__title">why choose us</div>
      </div>
    </div>
  </div>
</div>
<style>
  #take-a-closer-look {
    height: 600px;
    background-image: url('//public.deeper.network/Take a Closer Look_minise_web.gif');
  }
</style>
