<div class="inside-the-box__body">
  <div class="inside-the-box__items">
    <div class="inside-the-box__item">
      <img src="https://cdn.shopify.com/s/files/1/0256/1038/7504/files/mini-inside-the-box-01.jpg?v=1706104982" />
      <div>
        <span class="inside-the-box__item_desc">Deeper Connect Mini</span><br/>
        <span class="inside-the-box__item_desc">× 1</span>
      </div>
    </div>
    <div class="inside-the-box__item">
      <img src="https://cdn.shopify.com/s/files/1/0256/1038/7504/files/Dual_antenna.png?v=1711178154" />
      <div>
        <span class="inside-the-box__item_desc">
          <span style="display:inline-block">Deeper Connect Dual <br/> Antenna Wifi Adapter</span><br/>
        <span class="inside-the-box__item_desc">× 1</span>
      </div>
    </div>
    <div class="inside-the-box__item">
      <img src="https://cdn.shopify.com/s/files/1/0256/1038/7504/files/Power.png?v=1716173803" />
      <div>
        <span class="inside-the-box__item_desc">power adapter(US)</span><br/>
        <span class="inside-the-box__item_desc">× 1</span>
      </div>
    </div>
  </div>
  <div class="inside-the-box__items">
    <div class="inside-the-box__item">
      <img src="https://cdn.shopify.com/s/files/1/0256/1038/7504/files/mini-inside-the-box-04.jpg?v=1706104982" />
      <div>
        <span class="inside-the-box__item_desc">network cable</span><br/>
        <span class="inside-the-box__item_desc">× 1</span>
      </div>
    </div>
    <div class="inside-the-box__item">
      <img src="https://cdn.shopify.com/s/files/1/0256/1038/7504/files/mini-inside-the-box-05.jpg?v=1706104982" />
      <div>
        <span class="inside-the-box__item_desc">USB Type-C Power Cable</span><br/>
        <span class="inside-the-box__item_desc">× 1</span>
      </div>
    </div>
    <div class="inside-the-box__item">
      <img src="https://cdn.shopify.com/s/files/1/0256/1038/7504/files/pico-inside-the-box-06.jpg?v=1706104982" />
      <div>
        <span class="inside-the-box__item_desc">Instruction Guide</span><br/>
        <span class="inside-the-box__item_desc">× 1</span>
      </div>
    </div>
  </div>
</div>
<p style="color: #000;
text-align: center;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 18px">*Notes: All orders shipped with standard USA wall plugs </p>
<style>
  @media screen and (max-width: 1024px) { 
    .inside-the-box__items{
      width: 100%; 
      min-width: 521px;
      align-items: flex-start;
      justify-content: center;
    }
  }
</style>