<div class="product-section">
  <div class="it-is-not-VPN-it-is">
    <img
      class="lazyload"
      loading="lazy"
      alt="It is not VPN it is the better DPN"
      src="https://cdn.shopify.com/s/files/1/0256/1038/7504/files/It_is_not_VPN_it_is_the_better_DPN.png?v=1708326885"
    >
  </div>
  <div class="product-section-wrapper">
    <div class="div">
      <div class="div-2">
        <p class="text-wrapper">
          The better DPN!<br>
          It’s not your average VPN…
        </p>
        <p class="the-worldwide">
          <span class="span"
            >The worldwide network of Deeper Connect devices enable a fully decentralized VPN experience (DPN) with
          </span>
          <span class="text-wrapper-2">Multi-Routing, Smart Routing</span>
          <span class="span">
            and unrestricted access to content from any country without sacrificing Internet speed.<br>
            <br>
            DPN offers the benefits of VPN without any centralized control. To learn more about DPN, please refer to
            this article &#34;</span
          >
          <span class="text-wrapper-3">
            <a href="https://shop.deeper.network/blogs/news/a-101-on-dpn">A 101 on DPN</a>
          </span>
          <span class="span">&#34;</span>
        </p>
      </div>
    </div>
  </div>
</div>

<div class="product-section-2">
  <div class="product-section-2-wrapper">
    <div class="div">
      <div class="div-2">
        <p class="text-wrapper">Absolutely No Annual Fees or Subscriptions</p>
        <p class="coming-fully-loaded">
          Comes fully loaded with DPN (Decentralized VPN), Ad blocking and Cybersecurity features.
          <br>
          <br>
          The Deeper Connect Pico can save you over $600USD a year, compared to subscribing to similar individual
          services.
        </p>
      </div>
    </div>
  </div>
  <div class="subscription">
    <div class="div">
      <div class="text-wrapper">$0 DPN for Life!</div>
      <p class="p">Your lifetime secure, private, internet solution, for everyone!</p>
    </div>
    <div class="div-2">
      <div class="div-3">
        <div class="div-4">
          <img
            class="img lazyload"
            loading="lazy"
            alt=""
            src="https://cdn.shopify.com/s/files/1/0256/1038/7504/files/internet_773eaad9-9ffa-4b9d-9bb0-ac6cb303918e.png?v=1708346733"
          >
          <div class="text-wrapper-2">Vpn</div>
        </div>
        <div class="div-5">
          <div class="div-wrapper">
            <div class="text-wrapper-3">SAVE</div>
          </div>
          <div class="text-wrapper-4">$150 / Year</div>
        </div>
      </div>
      <div class="div-3">
        <div class="div-4">
          <img
            class="img lazyload"
            loading="lazy"
            alt=""
            src="https://cdn.shopify.com/s/files/1/0256/1038/7504/files/not-ad.png?v=1708346862"
          >
          <div class="text-wrapper-2">Ad Blocking</div>
        </div>
        <div class="div-5">
          <div class="div-wrapper">
            <div class="text-wrapper-3">SAVE</div>
          </div>
          <div class="text-wrapper-4">$150 / Year</div>
        </div>
      </div>
      <div class="div-3">
        <div class="div-4">
          <img
            class="img lazyload"
            loading="lazy"
            alt=""
            src="https://cdn.shopify.com/s/files/1/0256/1038/7504/files/deep-protection.png?v=1708346863"
          >
          <div class="text-wrapper-2">Enterprise-grade Cybersecurity</div>
        </div>
        <div class="div-5">
          <div class="div-wrapper">
            <div class="text-wrapper-3">SAVE</div>
          </div>
          <div class="text-wrapper-4">$600 / Year</div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="product-section-3">
  <div class="div">
    <div class="text-wrapper">Plug-and-Play</div>
    <div class="div-2">
      {% if product.title == 'Deeper Connect Air' or product.title == 'Deeper Connect Air Special Offer' %}
        <div class="div-2-img-list">
          <div class="div-2-img-item">
            <div class="div-2-img-item-img lazyload"></div>
            <div class="div-2-img-item-text">Wifi Dongle Mode</div>
          </div>
          <div class="div-2-img-item">
            <div class="div-2-img-item-img lazyload"></div>
            <div class="div-2-img-item-text">Wireless Relay Mode</div>
          </div>
        </div>

      {% elsif product.title == 'Deeper Connect Air & Mini Set' %}
        <div class="div-2-img-list" style="flex-wrap: wrap;gap:30px;">
          <div class="div-2-img-item">
            <div
              class="div-2-img-item-img lazyload"
              style="background-image: url('https://cdn.shopify.com/s/files/1/0256/1038/7504/files/setup-mode-01.gif?v=1724718220');"
            ></div>
            <div class="div-2-img-item-text">Virtual Wire Mode</div>
          </div>
          <div class="div-2-img-item">
            <div
              class="div-2-img-item-img lazyload"
              style="background-image: url('https://cdn.shopify.com/s/files/1/0256/1038/7504/files/setup-mode-03.gif?v=1724718358');"
            ></div>
            <div class="div-2-img-item-text">Router Mode</div>
          </div>
          <div class="div-2-img-item">
            <div
              class="div-2-img-item-img lazyload"
              style="background-image: url('https://public.deeper.network/Wifi Dongle Mode.png');"
            ></div>
            <div class="div-2-img-item-text">Wifi Dongle Mode</div>
          </div>
          <div class="div-2-img-item">
            <div
              class="div-2-img-item-img lazyload"
              style="background-image: url('https://public.deeper.network/Wireless Relay Mode.png');"
            ></div>
            <div class="div-2-img-item-text">Wireless Relay Mode</div>
          </div>
        </div>
      {% elsif product.title == 'Deeper Connect Pico Lite' %}
        <div class="div-2-img-list" style="flex-wrap: wrap;gap:30px;">
          <div class="div-2-img-item">
            <div
              class="div-2-img-item-img lazyload"
              style="background-image: url('https://cdn.shopify.com/s/files/1/0256/1038/7504/files/lite-mode-1.gif?v=1724719234');"
            ></div>
            <div class="div-2-img-item-text">Mode 1: Virtual Wire Mode</div>
          </div>
          <div class="div-2-img-item">
            <div
              class="div-2-img-item-img lazyload"
              style="background-image: url('https://cdn.shopify.com/s/files/1/0256/1038/7504/files/lite-mode-2.gif?v=1724719192');"
            ></div>
            <div class="div-2-img-item-text">Mode 2: Router Mode</div>
          </div>
          <div class="div-2-img-item">
            <div
              class="div-2-img-item-img lazyload"

              style="background-image: url('https://cdn.shopify.com/s/files/1/0256/1038/7504/files/lite-mode-3.gif?v=1724719264');"
            ></div>
            <div class="div-2-img-item-text">Mode 3: Wi-Fi Adapter Mode</div>
          </div>
          <div class="div-2-img-item">
            <div
              class="div-2-img-item-img lazyload"
              style="background-image: url('https://cdn.shopify.com/s/files/1/0256/1038/7504/files/lite-mode-4.gif?v=1724719249');"
            ></div>
            <div class="div-2-img-item-text">Mode 4: Wireless Relay Mode</div>
          </div>
        </div>
        <style>
          .div-2-img-list .div-2-img-item {
            min-height: 210px !important;
          }

          .div-2-img-item-text {
            position: absolute;
            left: 20px;
            color: #fff;
            font-weight: 500 !important;
            bottom: 20px;
            text-align: left !important;
          }

          @media (max-width: 1024px) {
            .div-2-img-item-text {
              color: #ffffff !important;
              text-align: left !important;
            }
          }
        </style>
      {% elsif product.title == 'Deeper Connect Mini' %}
        <img
          class="source lazyload"
          src="https://cdn.shopify.com/s/files/1/0256/1038/7504/files/setup-mode-04.gif?v=1724718426"
          alt="Mode1"
          loading="lazy"
          sizes="(min-width: 768px), 90vw, 100vw"
        >
        <img
          class="source lazyload"
          src="https://cdn.shopify.com/s/files/1/0256/1038/7504/files/setup-mode-02.gif?v=1724718336"
          alt="Mode2"
          loading="lazy"
          sizes="(min-width: 768px), 90vw, 100vw"
        >
      {% else %}
        <img
          loading="lazy"
          width="100%"
          class="source lazyload"
          src="https://cdn.shopify.com/s/files/1/0256/1038/7504/files/mode1.gif?v=1724719692"
          sizes="(min-width: 768px), 90vw, 100vw"
          alt="Mode1"
        >
        <img
          loading="lazy"
          width="100%"
          class="source lazyload"
          src="https://cdn.shopify.com/s/files/1/0256/1038/7504/files/mode2.gif?v=1724719691"
          sizes="(min-width: 768px), 90vw, 100vw"
          alt="Mode2"
        >
        <img
          loading="lazy"
          width="100%"
          class="source lazyload"
          src="https://cdn.shopify.com/s/files/1/0256/1038/7504/files/mode3.gif?v=1724719688"
          sizes="(min-width: 768px), 90vw, 100vw"
          alt="Mode3"
        >
      {% endif %}
    </div>
  </div>
</div>

<div class="product-section-4">
  <div class="product-section-4-wrapper">
    {% if product.title == 'Deeper Connect Mini' %}
      <img
        src="https://cdn.shopify.com/s/files/1/0256/1038/7504/files/0418-mini-pc.png?v=1713430237"
        loading="lazy"
        alt=""
        class="lazyload"
      >
    {% elsif product.title == 'Deeper Connect Air'
      or product.title == 'Deeper Connect Air Set * 2'
      or product.title == 'Deeper Connect Air Special Offer'
    %}
      <img
        src="https://cdn.shopify.com/s/files/1/0256/1038/7504/files/0418-Air-pc.png?v=1713430236"
        loading="lazy"
        alt=""
        class="lazyload"
      >
    {% elsif product.title == 'Deeper Connect Pico Set (New)'
      or product.title == 'DPR Mini SE & Deeper Connect
      Air'
      or product.title == 'Deeper Connect Air * 2'
    %}
      <img
        src="https://cdn.shopify.com/s/files/1/0256/1038/7504/files/0418-pico-pc.png?v=1713430237"
        loading="lazy"
        alt=""
        class="lazyload"
      >
    {% elsif product.title == 'DPR Mini SE' %}
      <img
        src="https://cdn.shopify.com/s/files/1/0256/1038/7504/files/0418-SE-pc.png?v=1713430237"
        loading="lazy"
        alt=""
        class="lazyload"
      >
    {% elsif product.title == 'Deeper Connect Pico Lite' %}
      <img
        src="https://cdn.shopify.com/s/files/1/0256/1038/7504/files/Lite-pc.png?v=1718069406"
        loading="lazy"
        alt=""
        class="lazyload"
      >
    {% else %}
      <img
        src="https://cdn.shopify.com/s/files/1/0256/1038/7504/files/0418-pico-pc.png?v=1713430237"
        loading="lazy"
        alt=""
        class="lazyload"
      >
    {% endif %}
  </div>
  <div class="div-wrapper">
    <div class="div-4">
      <div class="div-5">
        <img
          class="element lazyload"
          alt=""
          loading="lazy"
          src="https://cdn.shopify.com/s/files/1/0256/1038/7504/files/01_2cb4ef66-5a41-478f-abcc-ee9d2224aa78.png?v=1708332588"
        >
        <div class="div-6">
          <div class="text-wrapper-2">Decentralization</div>
          <p class="p">
            DPN uses decentralized technology for a serverless network architecture. Your browsing logs are fragmented,
            encrypted, and stored globally, ensuring no one can access your full logs for profit.
          </p>
        </div>
      </div>
      <div class="div-5">
        <img
          class="element lazyload"
          alt=""
          loading="lazy"
          src="https://cdn.shopify.com/s/files/1/0256/1038/7504/files/02.png?v=1708332589"
        >
        <div class="div-6">
          <div class="text-wrapper-2">Smart-Routing</div>
          <p class="p">
            Automatically Configure Network Routing Based on Data Stream Characteristics and Tunnel Transmission
            Decision.
          </p>
        </div>
      </div>
      <div class="div-5">
        <img
          class="element lazyload"
          alt=""
          loading="lazy"
          src="https://cdn.shopify.com/s/files/1/0256/1038/7504/files/03_e7b0a070-693f-40e3-91f1-af065d4c12e1.png?v=1708332588"
        >
        <div class="div-6">
          <div class="text-wrapper-2">Multi-Routing</div>
          <p class="p">
            Intelligently switch tunnels according to needs; different routes can be used according to different servers
            simultaneously.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="product-section-5">
  <div class="overlap-group-wrapper">
    <img
      loading="lazy"
      class="lazyload"
      src="https://cdn.shopify.com/s/files/1/0256/1038/7504/files/Blocking.png?v=1708335232"
      alt=""
    >
  </div>
  <div class="product-section-5-wrapper">
    <div class="div-2">
      <div class="div-3">
        <div class="text-wrapper">Blockchain Mining</div>
        <p class="we-do-not-own-any">
          We do not own any centralized servers as every Deeper Connect is in essence a server and a client. All these
          devices distribute around the world to communicate and share bandwidth with each other.
          <br>
          <br>
          Share unused bandwidth to earn DPR rewards and exchange them for services in the Deeper Network ecosystem.
          Easily mine crypto, earn passive income just by participating.
        </p>
        <a href="https://shop.deeper.network/pages/blockchain-mining" class="standard__cta hero__btn btn  btn--primary">
          Explore More
        </a>
      </div>
    </div>
  </div>
</div>

<style>
  /* Base styles for the slider wrapper and content */
  .slider-wrapper {
    position: relative;
    overflow: hidden; /* Ensure no overflow */
  }

  .slider-wrapper-content {
    display: flex; /* Use flexbox for horizontal sliding */
    transition: transform 0.3s ease-in-out; /* Smooth slide transition */
  }

  .slider-wrapper-content .quick-setup-content-item {
    flex: 0 0 100%; /* Each slide takes full width */
    box-sizing: border-box;
    background-color: black;
  }

  /* Hide default Slick styles (if Slick is still included) */
  .slick-prev:before,
  .slick-next:before {
    display: none;
  }

  /* Custom navigation buttons */
  .custom-prev,
  .custom-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 9999;
    cursor: pointer;
    width: 44px;
    height: 44px;
    background: transparent;
    border: none;
    color: white;
    opacity: 1;
  }

  .slick-prev.at-start svg path {
    opacity: 0.5;
  }

  .slick-next.at-end svg path {
    opacity: 0.5;
  }
  .slick-prev svg path,
  .slick-next svg path {
    fill: #fff;
  }
  .slider-btns {
    position: absolute;
    bottom: 50%; /* Adjusted position for better visibility */
    transform: translateY(50%);
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  /* Button positions */
  .custom-prev {
    left: 15px; /* Adjust as needed */
  }

  .custom-next {
    right: 15px; /* Adjust as needed */
  }

  /* Slider images */
  .quick-setup-content-item {
    width: 100%;
    height: 600px;
    overflow: hidden;
    cursor: pointer;
  }

  .quick-setup-content-item > .quick-setup-content-item-img {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
  }

  .quick-setup-content-item > video {
    object-fit: contain;
    width: 100%;
    height: 100%;
    display: none; /* Hide video by default */
  }

  /* Slide opacity transitions */
  .quick-setup-content-item {
    transition: opacity 0.3s ease-in-out;
  }

  .quick-setup-content-item.slick-active {
    opacity: 0.5;
  }

  .quick-setup-content-item.slick-current {
    opacity: 1;
  }

  /* Image list styles */
  .div-2-img-list {
    display: flex;
    width: 100%;
    gap: 20px;
    justify-content: center;
  }

  .div-2-img-item {
    min-width: 360px;
    min-height: 250px;
    background-size: cover;
    background-position: center;
    position: relative;
  }

  .div-2-img-item-text {
    width: 100%;
    text-align: center;
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    margin-top: 10px;
  }

  .div-2-img-item .div-2-img-item-img {
    width: 100%;
    height: 210px;
    background-repeat: no-repeat;
    border-radius: 20px;
    overflow: hidden;
  }
  .quick-setup-content-item:nth-child(1) > .quick-setup-content-item-img {
    background-image: url('https://cdn.shopify.com/s/files/1/0256/1038/7504/files/Pico_bb919786-ebb2-4ed9-903f-f8bf6804dbda.png?v=1715138678');
  }

  .quick-setup-content-item:nth-child(2) > .quick-setup-content-item-img {
    background-image: url('https://cdn.shopify.com/s/files/1/0256/1038/7504/files/Mini_8ae2ff0c-40b9-4721-9fb4-b5cfedcde5e3.png?v=1715138677');
  }

  .quick-setup-content-item:nth-child(3) > .quick-setup-content-item-img {
    background-image: url('https://cdn.shopify.com/s/files/1/0256/1038/7504/files/SE_f0b170d7-e682-46d4-a5d7-81d1526c17ee.png?v=1715138677');
  }

  .div-2-img-list .div-2-img-item {
    min-width: 360px;
    min-height: 250px;
    background-size: cover;
    background-position: center;
    position: relative;
  }

  .div-2-img-item-text {
    width: 100%;
    text-align: center;
    font-family: 'Inter';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    margin-top: 10px;
  }

  .div-2-img-list .div-2-img-item .div-2-img-item-img {
    width: 100%;
    height: 210px;
    background-repeat: no-repeat;
    border-radius: 20px;
    overflow: hidden;
    background-size: cover;
  }

  .div-2-img-list .div-2-img-item:nth-child(1) .div-2-img-item-img {
    background-image: url('https://cdn.shopify.com/s/files/1/0256/1038/7504/files/source_1_97510cc7-dae4-4681-a7c4-3e2180ea055e.png?v=1708598362');
  }

  .div-2-img-list .div-2-img-item:nth-child(2) .div-2-img-item-img {
    background-image: url('https://cdn.shopify.com/s/files/1/0256/1038/7504/files/source2_1_e224fc18-7a42-456b-81ac-f28860fa4b9a.png?v=1708598362');
  }

  /* 小屏幕 */
  @media (max-width: 1024px) {
    .div-2-img-list .div-2-img-item {
      min-width: 100%;
      min-height: 180px;
      border-radius: 20px;
      overflow: hidden;
    }

    .quick-setup-content-item:nth-child(1) > .quick-setup-content-item-img {
      background-image: url('https://cdn.shopify.com/s/files/1/0256/1038/7504/files/Frame_1000004197_1.jpg?v=1706712489');
    }

    .quick-setup-content-item:nth-child(2) > .quick-setup-content-item-img {
      background-image: url('https://cdn.shopify.com/s/files/1/0256/1038/7504/files/os-mini-cover-phone.png?v=1706204242');
    }

    .quick-setup-content-item:nth-child(3) > .quick-setup-content-item-img {
      background-image: url('https://cdn.shopify.com/s/files/1/0256/1038/7504/files/os-mini-se-phone.png?v=1706204243');
    }

    .slider-btns {
      display: none;
    }

    .div-2-img-list .div-2-img-item .div-2-img-item-img {
      /* height: 180px; */
      padding-top: 55%;
      height: auto;
    }

    .div-2-img-item-text {
      color: #1d1d1f;
      text-align: center;
      font-family: 'Inter';
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: 20px;
      /* 142.857% */
      margin-top: 22px;
    }

    .div-2-img-list {
      flex-direction: column;
    }
  }
</style>
