<div class="product__closer__looker-body features mobile--hide small--hide medium--show large--show widescreen--show">
  <div class="feature-row">
    <div class="feature-item large">
      <div id="take-a-closer-look" class="feature-image lazyload">
        <div
          class="feature-content"
          style="background-image: url('https://cdn.shopify.com/s/files/1/0256/1038/7504/files/seamless_1.png?v=1724987399');background-position: center;background-size: cover; "
        >
          <div class="feature-content__title">Connect anywhere, effortlessly</div>
          <div class="feature-content__desc">
            Complete coverage of living spacesProviding a wider range of coverage for spaces ofup to 1500 square feet.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="product__closer__looker-body features mobile--show small--show medium--hide large--hide widescreen--hide">
  <div class="feature-item">
    <div id="take-a-closer-look-mobile" class="feature-mobile-image">
      <img
        src="https://cdn.shopify.com/s/files/1/0256/1038/7504/files/seamless-phone.png?v=1724997523"
        class="lazyload"
        loading="lazy"
        alt=""
      >
      <div
        class="feature-content"
      >
        <div class="feature-content__title">
          Multi-Device Support for <br>
          Simultaneous Use
        </div>
        <div class="feature-content__desc">
          Complete coverage of living spacesProviding a wider range of coverage for spaces ofup to 1500 square feet.
        </div>
      </div>
    </div>
  </div>
</div>
