<h1 class="section">Compatible Devices</h1>
<div class="section-list">
  <div class="section-list__item">
    <div class="section-list__item_img">
      <img
        src="https://cdn.shopify.com/s/files/1/0256/1038/7504/files/aiso-usb-c-img1.png?v=1725524630"
        alt=""
        loading="lazy"
        class="lazyload"
      >
    </div>
    <div class="section-list__item-info">
      <div class="item-info-title">Deeper Connect Pico</div>
      <div class="item-info-desc">
        Dual-antenna Wi-Fi adapter is compatible with the Deepe Connect Pico (AtomOS version 1.2.10 or higher)
      </div>
      <a class="item-info-link" href="/products/new-deeper-connect-pico-set">
        Buy Now
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="12"
          height="13"
          viewBox="0 0 12 13"
          fill="none"
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M8.99996 6.50014L7.84278 7.62328L7.84276 7.62327L4.37151 10.9924L3.2146 9.86928L6.68565 6.50012L3.2146 3.13096L4.37151 2.00781L7.84276 5.37697L7.84278 5.37695L8.99996 6.5001L8.99994 6.50012L8.99996 6.50014Z"
            fill="black"
          />
        </svg>
      </a>
    </div>
  </div>
  <div class="section-list__item">
    <div class="section-list__item-info">
      <div class="item-info-title">Deeper Connect Mini</div>
      <div class="item-info-desc">
        Dual-antenna Wi-Fi adapter is compatible with the Deeper Connect Mini (AtomOS version 1.2.10 or higher)
      </div>
      <a class="item-info-link" href="/products/dpr-mini-se">
        Buy Now
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="12"
          height="13"
          viewBox="0 0 12 13"
          fill="none"
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M8.99996 6.50014L7.84278 7.62328L7.84276 7.62327L4.37151 10.9924L3.2146 9.86928L6.68565 6.50012L3.2146 3.13096L4.37151 2.00781L7.84276 5.37697L7.84278 5.37695L8.99996 6.5001L8.99994 6.50012L8.99996 6.50014Z"
            fill="black"
          />
        </svg>
      </a>
    </div>
    <div class="section-list__item_img">
      <img
        loading="lazy"
        class="lazyload"
        src="https://cdn.shopify.com/s/files/1/0256/1038/7504/files/aiso-usb-c-img2.png?v=1725524631"
        alt=""
      >
    </div>
  </div>
</div>
