<section class="section-tabs {{ section.settings.color_bg }}"
  data-section-id="{{ section.id }}"
  data-section-type="tabs"
  style="--PT: {{ section.settings.padding_top }}px; --PB: {{ section.settings.padding_bottom }}px;">
  <div class="wrapper section-padding" style="max-width: 1200px;">
    <div id="product-faq" class="section-collection__foreground" style=" margin-left:auto; margin-right:auto">
      <div class="section-collection-grid__inner">
        <h2 
          class="index__collection__title product-faq-header-title">Frequently Asked Questions</h2>
      </div>
      <div class="mobile--show small--show medium--hide large--hide widescreen--hide">
        <div class="product-faq__selector product-faq__selector-mobile">
          <ul>
            <li class="product-faq-select-item selected" >DPN</li>
            <li class="product-faq-select-item" >Troubleshooting</li>
            <li class="product-faq-select-item" >Product</li>
            <li class="product-faq-select-item" >Shipping</li>
            <li class="product-faq-select-item" >Staking</li>
            <li class="product-faq-select-item" >Charges and Fees</li> 
          </ul>
        </div>
      </div>

      <div class="mobile--hide small--hide medium--show large--show widescreen--show">
        <div class="product-faq__selector">
          <ul>
            <li class="product-faq-select-item selected">DPN</li>
            <li class="product-faq-select-item" >Troubleshooting</li>
            <li class="product-faq-select-item" >Product</li>
            <li class="product-faq-select-item" >Shipping</li>
            <li class="product-faq-select-item" >Staking</li>
            <li class="product-faq-select-item" >Charges and Fees</li> 
          </ul>
        </div>
      </div>

      <div class="product-faq__grid">
        <div id="faq-DPN">
          <ul>
            <li>
              <h3 class="product-faq-select-item">What is DPN and how does it differ from Decentralized VPN?</h3>
              <p class="product-faq-select-item">DPN (Decentralized Private Network) represents a decentralized private network technology and is an abbreviation for DeePer Network. It differs from the traditional decentralized VPNs (Decentralized VPN). While there are many Decentralized VPN projects worldwide, DPN stands out with its unique features. It incorporates enterprise-level network security technology into the Decentralized VPN framework, providing security and privacy for both bandwidth users and providers. This approach ensures that the development of the Deeper Network does not pose significant security risks to bandwidth providers like the TOR Network and other Decentralized VPN projects have, and it avoids the potential for the Deeper Network to evolve in the direction of the dark web. The next question will detail how DPN applies world-leading enterprise-level network security technology to protect the safety of bandwidth providers.</p>
            </li>
            <li>
              <h3 class="product-faq-select-item">Does the DPN technology, based on shared bandwidth, pose cybersecurity risks to bandwidth providers?</h3>
              <p class="product-faq-select-item">
                Decentralized VPN technology based on shared bandwidth aims to enhance privacy and freedom in network access through bandwidth sharing. However, it may also pose cybersecurity risks to bandwidth providers. For instance, bandwidth requesters might use the technology to download illegal content, launch cyber-attacks, or access harmful websites, and the legal consequences of these activities could mistakenly be attributed to innocent bandwidth providers. 
              </p>

              <p class="product-faq-select-item">
                  From its inception, the Deeper Network has placed a high emphasis on cybersecurity, striving to address this challenge by incorporating enterprise-level network security technology. To protect the cybersecurity of bandwidth providers, we have implemented the following measures:
                  <a id="cybersecurity-risks-to-bandwidth-providers-learn-more" href="javascript:void(0);">learn more...</a>
              </p>

              <span class="cybersecurity-risks-to-bandwidth-providers-more" style="display:none ;">
                
                <p class="product-faq-select-item">
                  1,&nbsp;Blocking Bit Torrent application usage with shared traffic: <br />
                  Users can disable Bit Torrent traffic sharing, preventing bandwidth requesters from using others' bandwidth for Bit Torrent downloads.<br />
                </p>  
                <p style="text-align:center">
                  <img style="margin:auto" alt="" class="lazyload"  width="50%" height="auto" src="https://cdn.shopify.com/s/files/1/0256/1038/7504/files/bandwidth-providers-1.png?v=1704190024" />
                </p>
                <p class="product-faq-select-item">
                  2,&nbsp;Blocking access to illegal websites using shared traffic: <br />
                  Bandwidth providers can set website filters to prevent others from accessing illegal websites using their IP.<br />
                </p>
                <p style="text-align:center">
                  <img style="margin:auto" alt="" class="lazyload" width="50%" height="auto" src="https://cdn.shopify.com/s/files/1/0256/1038/7504/files/bandwidth-providers-2.png?v=1704190024" />
                </p>
                <p class="product-faq-select-item">
                  3,&nbsp;Preventing intrusion using shared traffic: <br />
                  Deeper Network employs intrusion detection technology to monitor and thwart hacker intrusions into the network.<br />
                  Traceable shared logs for transparency and accountability: Any network connection leaves a log on the bandwidth provider's device, stored in encrypted form. When others use the provider's IP for illegal operations, the provider can send the encrypted log to the Deeper Network for decryption to identify the actual malicious user. This not only protects the security of the bandwidth provider but also the privacy of the bandwidth requester.<br />
                </p>
                <p style="text-align:center">
                  <img style="margin:auto" alt="" class="lazyload"  width="50%" height="auto" src="https://cdn.shopify.com/s/files/1/0256/1038/7504/files/bandwidth-providers-3.png?v=1704190024" />
                </p>
                <p class="product-faq-select-item">
                  4,&nbsp;Preventing shared bandwidth from exceeding monthly quotas: By setting maximum shared bandwidth and monthly limits, providers can prevent their shared traffic from exceeding monthly quotas.<br />
                </p>
                <p style="text-align:center">
                  <img style="margin:auto" alt="" class="lazyload"  width="50%" height="auto" src="https://cdn.shopify.com/s/files/1/0256/1038/7504/files/bandwidth-providers-4.png?v=1704190024" />
                </p>
              </span>
                
                
              </p>
            </li>
            <li>
              <h3 class="product-faq-select-item">What are the notable differences in user experience between DPN and VPN?</h3>
              <p class="product-faq-select-item">
                1,&nbsp;Cost difference: DPN offers lifetime free usage after purchase, whereas VPN typically requires a monthly fee. 
              </p>
              <p class="product-faq-select-item">
                2,&nbsp;Ease of use: DPN deployed using Deeper Connect automatically unlocks regional restrictions for all devices, whereas VPN requires software client installation on each device. Many devices do not support VPN software installation, such as Apple TV. 
                DPN's smart routing feature allows traffic from different applications to automatically switch between countries, 
                eliminating the need for manual node switching required by VPNs.
              </p>
              <p class="product-faq-select-item">
                3,&nbsp;Speed comparison: VPNs provide services through servers, while DPN utilizes the upstream bandwidth of user nodes. Theoretically, VPN speed might be higher than DPN. However, DPN features node aggregation technology, using up to 8 user nodes simultaneously, offering up to 8 times the speed increase. Additionally, DPN's smart routing mode can accelerate streaming media resource access through nearby CDN nodes, reducing the transit delay and buffering common in VPNs.
              </p>
              <p class="product-faq-select-item">
                4,&nbsp;Differences in geo-location unlocking: As more companies start detecting VPN or proxy IP accesses to streaming media (like Netflix), VPN IPs are easily detected. In contrast, DPN uses home IPs of users, reducing the risk of being blocked.<br />
              </p>
              <p class="product-faq-select-item">
                5,&nbsp;Security: DPN integrates enterprise-level network security technology, filtering almost all internet ads and trackers, including some that require paid filtering. DPN is also equipped with advanced intrusion detection technology to identify and block cyber-attacks. Without a central server, user access logs are encrypted and dispersed across global nodes, enhancing privacy protection. In contrast, VPNs store user access logs on central servers, and the service provider may access or even view user data, posing risks of log leakage and selling user data.
              </p>
            </li>
            <li>
              <h3 class="product-faq-select-item">How does DPN's ad-filtering experience differ from Pi-hole?</h3>
              <p class="product-faq-select-item">
                DPN's ad-filtering experience differs notably from Pi-hole. Pi-hole mainly relies on DNS filtering, controlling access to specific domains, but this method is limited in filtering precision. It cannot filter specific pages or services and is less capable of handling complex, deep-level ads, sometimes leading to the false blocking of normal content. For example, DPN can filter web and mobile YouTube ads and Spotify's built-in ads, while Pi-hole struggles in these areas.
              </p>
            </li>
            <li>
              <h3 class="product-faq-select-item">How does DPN's ad-filtering experience differ from browser ad-filtering plugins?</h3>
              <p class="product-faq-select-item">DPN's ad-filtering experience differs from browser plugins in the following ways: </p>
              <p class="product-faq-select-item">Resistance to countermeasures: Browser plugins are more susceptible to website countermeasures. For instance, sites like YouTube frequently update their recognition codes against browser filtering plugins to prevent ad filtering. DPN's ad filtering, based on underlying traffic filtering, can evade such countermeasures, providing a more stable ad-filtering effect.</p>
              <p class="product-faq-select-item">Cross-platform capability: Browser plugins usually only run on PC browsers and cannot be used across platforms. In contrast, DPN's ad-filtering functionality can run on multiple platforms including iOS, Windows, Mac OS, Android, TV OS, Linux, etc. This allows DPN to effectively filter ads in popular applications like YouTube and Spotify.</p>
              <p class="product-faq-select-item">Friendly Reminder: To use DPN's ad-filtering feature, it's necessary to install Deeper Network's SSL root certificate on the terminal device, enabling Deeper Connect to modify underlying traffic.</p>
            </li>
          </ul>
        </div>
        <div id="faq-Shipping" style="display:none ;">
          <ul>
            <li>
              <h3 class="product-faq-select-item">Which countries do you ship to?</h3>
              <p class="product-faq-select-item">All Deeper Connect products ship worldwide except to Mainland China.</p>
            </li>

            <li>
              <h3 class="product-faq-select-item">How long will I receive the products?</h3>
              <p class="product-faq-select-item">
                The shipping time of the product will vary depending on the delivery address. 
                We will provide the tracking number within
                <b>5-10</b>
                business days. 
                A confirmation email will be sent once the order has shipped.
              </p> 
            </li>
            <li>
              <h3 class="product-faq-select-item">How about the shipping fee? Do you offer free shipping?</h3>
              <p class="product-faq-select-item">
                <p class="product-faq-select-item">Limited time Free global shipping on orders of $99 or more.</b>For More information, please refer to
                <a href="/pages/shipping-policy" target="_blank">shipping policy</a>.
              </p>
            </li>
            <li>
              <h3 class="product-faq-select-item">What should I do if the package is lost?</h3>
              <p class="product-faq-select-item">Please create a follow request on Zendesk at
                <a href="https://support.deeper.network" target="_blank">support.deeper.network</a>
                providing order number and the email associated with this transaction.
              </p>
            </li>
          </ul>
        </div>
        <div id="faq-Function_Feature" style="display:none ;">
          <ul>  
            <li>
              <h3 class="product-faq-select-item">Why am I still using the real IP?</h3>
              <p class="product-faq-select-item">
                Deeper Connect by default uses a mode known as 'Smart Route'. 
                The 'Smart Route' mode is primarily designed to bypass regional access restrictions on various websites or platforms, such as Netflix, BBC, and others. 
                This mode only conceals or disguises the IP address for those domains that require IP verification, with the aim of maximizing the speed at which users can access these geo-blocked sites.                 
                If you wish to completely hide your IP, please go into the device's configuration interface and switch from 'Smart Route' to 'Full Route' mode. 
                The specific steps are illustrated in the image below: 
              </p>
              <p style="text-align:center">
                <img style="margin:auto" alt="" class="lazyload"  width="50%" height="auto" src="https://cdn.shopify.com/s/files/1/0256/1038/7504/files/image_4.png?v=1704189302" />
              </p>
              <p class="product-faq-select-item">
                For more information on DPN and Smart Route, please see here: &nbsp;<a href="https://deeper-network.medium.com/a-101-on-dpns-bd5e2b7c9e25" target="_blank" rel="noopener noreferrer nofollow">https://deeper-network.medium.com/a-101-on-dpns-bd5e2b7c9e25</a>
              </p>
            </li>

            <li>
              <h3 class="product-faq-select-item">Why did the ads filter not work?</h3>
              <p class="product-faq-select-item">
                Deeper Connect achieves ad blocking by filtering DNS requests and HTTPS traffic. Therefore, to enable Deeper Connect to effectively 'monitor' these requests, you need to ensure two things:<br />
                1,&nbsp;Disable DoH：<br />
                Many browsers, such as Firefox, enable DoH (DNS over HTTPS) by default, encrypting DNS requests during transmission. Consequently, you need to disable the DoH feature in your browser so that Deeper Connect can monitor DNS requests and perform further content filtering.<br />
                Please log in to the admin console at 34.34.34.34 to check how to disable the DoH settings of the browser.  <a id="why-did-the-ads-filter-not-work-learn-more" href="javascript:void(0);">learn more...</a>
              </p>

              <span class="why-did-the-ads-filter-not-work-more" style="display:none ;">
                <p style="text-align:center">
                  <img style="margin:auto" alt="" class="lazyload"  width="50%" height="auto" src="https://cdn.shopify.com/s/files/1/0256/1038/7504/files/image_1.png?v=1704187727" />
                </p>
                <p class="product-faq-select-item">
                  2,&nbsp;Install and trust the root certificate issued by Deeper Network:<br />
                  In order to block advertisements in HTTPS traffic, including those in the IOS YouTube app, Deeper Connect must act as an intermediary to analyze and filter the HTTPS traffic. This function can only be achieved after the root certificate issued by Deeper Network is installed and trusted.<br /> 
                  Deeper Connect is capable of filtering advertising traffic in HTTPS traffic. Please log in to the admin consloe at 34.34.34.34 to see how to install the root certificate issued by Deeper Network on different devices.
                </p>
                <p style="text-align:center">
                  <img style="margin:auto" alt="" class="lazyload"  width="50%" height="auto" src="https://cdn.shopify.com/s/files/1/0256/1038/7504/files/image_2.png?v=1704187727" />
                </p>
                <p class="product-faq-select-item">
                  <b>Please note: </b>After installing and trusting the root certificate issued by Deeper Network on the Android system, Deeper Connect will be able to filter SSL-based traffic advertisements within browsers.<br />
                  For example, on Android devices, when users visit YouTube through a web browser, Deeper Connect can filter out YouTube's ads. However, ads within the YouTube app cannot be blocked.<br />
                  3,&nbsp;Clear the browser cache and restart the browser, or use Chrome's Incognito mode:<br />
                  If ads are not being filtered properly after enabling ad blocking, it is likely due to the browser cache. In this case, you can try clearing your browser's cache and restarting the browser to fix the issue. Additionally, after turning on ad blocking, you can use Google Chrome's Incognito Mode to test if the ad filtering is working, as Incognito Mode is not affected by the browser cache.
                </p>
                <p style="text-align:center">
                  <img style="margin:auto" alt="" class="lazyload"  width="50%" height="auto" src="https://cdn.shopify.com/s/files/1/0256/1038/7504/files/image_3.png?v=1704187727" />
                </p>
              </span>
            </li>

            <li>
              <h3 class="product-faq-select-item">How to reset the Log-in and wifi password?</h3>
              <p class="product-faq-select-item">
                1,&nbsp;You can reset the password by using the reset button on the device. For detailed instructions, please refer to the following link:<a href="https://shop.deeper.network/blogs/tutorials/self-reset-your-deeper-connect-devices" target="_blank">https://shop.deeper.network/blogs/tutorials/self-reset-your-deeper-connect-devices</a> <br />
                2,&nbsp;If there are still questions, please keep your device online and reach us via <a href="https://support.deeper.network" target="_blank" rel="noopener noreferrer nofollow">support.deeper.network</a>.
                </p>
            </li>

          </ul>
        </div>
        <div id="faq-Product" style="display:none ;">
          <ul>
            <li>
              <h3 class="product-faq-select-item">What is the difference between the Mini and Pico?</h3>
              <p class="product-faq-select-item">
                The hardware specifications of the Mini and Pico are different (details can be found on the project page). In addition, Pico supports wireless relay mode while the Mini is designed for at home use.
              </p>
            </li>

            <li>
              <h3 class="product-faq-select-item">Can a Deeper Connect be used with any router or modem?</h3>
              <p class="product-faq-select-item">
                Yes, Deeper Connect can be set up in three ways that are introduced in the story section on the project page. <br />
                1,&nbsp;Virtual Wire mode: Modem --(cable)-- Deeper Connect --(cable)-- Router --(wifi)-- Laptop/ Phones/ TV, etc;<br/>
                2,&nbsp;AP Router mode: Modem/ Router --(cable)-- Deeper Connect --(wifi)-- Laptop/ Phones/ TV, etc;<br/>
                3,&nbsp;Wireless Relay mode: Other AP Hotspots --(wifi)-- Deeper Connect --(wifi)-- Laptop/ Phones/ TV, etc.
              </p>
              </p>
            </li>

            <li>
              <h3 class="product-faq-select-item">How do I use Deeper Connect with an All-in-One Modem/Router?</h3>
              <p class="product-faq-select-item">You need a 2nd router. All-in-One --(cable)-- Deeper Device --(cable)-- 2nd router. <br/>
              </p>
            </li>

            <li>
              <h3 class="product-faq-select-item">What if there is someone using torrents on my IP address or potentially illegal activities which might trace back to my IP?</h3>
              <p class="product-faq-select-item">
                Protocols such as torrent blocking, adult content blocking, and a preset list of blacklisted websites prevent others from using your device for malicious activities. <br/>
                In the rare case your device is used for malicious activities, internal logs are in place to prove you are not responsible for any wrongdoing.
              </p>
            </li>

            <li>
              <h3 class="product-faq-select-item">Which OS does your device run?</h3>
              <p class="product-faq-select-item">It runs AtomOS, the world’s first lock-free operating system, designed exclusively to run on Deeper Connect.
              </p>
            </li>


            <li>
              <h3 class="product-faq-select-item">Why there is no Internet after using the Mini/Pico?</h3>
              <p class="product-faq-select-item">
                Please refer to this video for the first-time setup.  <a href="https://www.youtube.com/watch?v=82IqmUw4g-E" target="_blank" rel="noopener noreferrer nofollow">Deeper Connect - Proper Setup & Reboot Sequence for Troubleshooting</a> <br />
                If you still have the connection issue, please reach us via: <a href="https://support.deeper.network" target="_blank" rel="noopener noreferrer nofollow">support.deeper.network</a>.
              </p>
            </li>

            <li>
              <h3 class="product-faq-select-item">Why can't I find the Deeper WIFI after using the wifi adapter?</h3>
              <p class="product-faq-select-item">
                Please check the firmware version first and ensure it is higher than 1.1.17. <br />
                If your problem persists, please reach us via <a href="https://support.deeper.network" target="_blank" rel="noopener noreferrer nofollow">support.deeper.network</a>.
              </p>
            </li>

            <li>
              <h3 class="product-faq-select-item">Does the Wi-Fi name change after using a Deeper Connect?</h3>
              <p class="product-faq-select-item">Yes, a new Wi-Fi will be available for you to connect to.</p>
            </li>

          </ul>
        </div>
        <div id="faq-Staking" style="display:none ;">
          <ul>
            <li>
              <h3 class="product-faq-select-item">Where can I stake?</h3>
              <p class="product-faq-select-item">
                You need to register an account at <a href="https://device-bsc.deeper.network/register" target="_blank" rel="noopener noreferrer nofollow">https://device-bsc.deeper.network/register</a>
                first and follow the tutorial <a href="https://support.deeper.network/hc/en-us/articles/4423613516955-BSC-BEP20-Staking-Tutorial" target="_blank" rel="noopener noreferrer nofollow">here</a> to stake. <br />
                If you need further assistance, please submit a ticket at <a href="https://support.deeper.network" target="_blank" rel="noopener noreferrer nofollow">support.deeper.network</a> and customer support will help you out.
              </p>
            </li>
            <li>
              <h3 class="product-faq-select-item">How much should I stake? What are the rules?</h3>
              <p class="product-faq-select-item">
                It really depends on how you want to invest. We have eight different staking tiers you can choose from. <br/>
                Please visit <a href="https://support.deeper.network/hc/en-us/articles/4460627914395-Basic-Mining-Rules-and-Rewards" target="_blank" rel="noopener noreferrer nofollow">here</a> for more information. You are always welcome to submit a ticket at <a href="https://support.deeper.network" target="_blank">support.deeper.network</a> for further assistance.
              </p>
            </li>
            <li>
              <h3 class="product-faq-select-item">I need help on staking.</h3>
              <p class="product-faq-select-item">
                Please make sure you have DPR and BNB token in your Metamask wallet. <br />
                You can find more information about mining rewards & rules <a href="https://support.deeper.network/hc/en-us/articles/4460627914395-Basic-Mining-Rules-and-Rewards" target="_blank" rel="noopener noreferrer nofollow">here</a> and <a href="https://support.deeper.network/hc/en-us/articles/4423613516955-BSC-BEP20-Staking-Tutorial" target="_blank" rel="noopener noreferrer nofollow">the staking tutorial</a>.<br />
                You are always welcome to submit a ticket at <a href="https://support.deeper.network" target="_blank" rel="noopener noreferrer nofollow">support.deeper.network</a> for further assistance. 
              </p>
              </p>
            </li>
            <li>
              <h3 class="product-faq-select-item">My credit score didn’t grow.</h3>
              <p class="product-faq-select-item">
                Please check if: <br/> 
                1,&nbsp;your device is consistently connected,<br/>
                2,&nbsp;your device has been online for over 12 hours, <br/>
                3,&nbsp;your On-chain status is “Yes” under the Mining/Wallet/Wallet Balance page at AtomOS, <br/>
                4,&nbsp;your DPR balance is over 0.21DPR.<br/>
                If you need further assistance, please submit a ticket at <a href="https://support.deeper.network" target="_blank" rel="noopener noreferrer nofollow">support.deeper.network</a>.
              </p>
              </p>
            </li>
            <li>
              <h3 class="product-faq-select-item">I am losing my credit score.</h3>
              <p class="product-faq-select-item">
                Please make sure you meet the following criteria:<br/>
                1) System uptime is at least 12 consecutive hours each day,<br/>
                2) Share more than 10MB each day, <br/>
                3) Pass 3 random heartbeat checks each day. <br/>
                <a href="https://support.deeper.network/hc/en-us/articles/4423727560859-Organic-Credit-Score-Rules" target="_blank">Here</a>
                are credit score rules.
              </p>
            </li>
            <li>
              <h3 class="product-faq-select-item">How do I burn DPR for credits?</h3>
              <p class="product-faq-select-item">Please follow this
                <a href="/pages/blog" target="_blank">tutorial</a>
                to complete the burning process.</p>
            </li>
            <li>
              <h3 class="product-faq-select-item">How do I withdraw my rewards?</h3>
              <p class="product-faq-select-item">
                Please visit
                <a href="https://support.deeper.network/hc/en-us/articles/4423676780571-DPR-Withdrawal-to-BSC-BEP20-Wallet-Tutorial-PC-Version-" target="_blank">here</a>
                for the withdrawal
                <a href="/pages/blog" target="_blank">tutorial</a>, and submit a ticket at
                <a href="https://support.deeper.network" target="_blank">support.deeper.network</a>.&nbsp;
                if you need further assistance.</p>
            </li>
            <li>
              <h3 class="product-faq-select-item">Where do I check/view my NFT?</h3>
              <p class="product-faq-select-item">
                There are two ways you can check your NFT: <br/>
                1) Click the Deeper Chain
                <a href="https://apps.deeper.network/#/nfts/my-nfts" target="_blank">mainnet</a>
                and connect your Deeper wallet. You need to have your Deeper wallet imported to the Polkadot extension on your browser in advance.<br/>
                2) Log into your AtomOS, it is located at the top right corner of your avatar.<br/>
                Please visit
                <a href="/blogs/newsletter/the-deeper-chain-nft-collection-launch" target="_blank">here</a>
                to get more information about NFT.
              </p>
            </li>
            <li>
              <h3 class="product-faq-select-item">How do I burn NFTs for credits?</h3>
              <p class="product-faq-select-item">Please follow this <a href="/pages/blog" target="_blank">tutorial</a> to complete the burning process for NFTs.</p>
            </li>
          </ul>
        </div>
        <div id="faq-Charges_and_Fees" style="display:none ;">
          <ul>
            <li>
              <h3 class="product-faq-select-item">Is free lifetime VPN guaranteed?</h3>
              <p class="product-faq-select-item">Yes, pay once, $0 Subscription for life.</p>
            </li>
            <li>
              <h3 class="product-faq-select-item">Do I need to pay import duty and taxes?</h3>
              <p class="product-faq-select-item">Import duty and taxes may apply to certain countries and areas. All duties and taxes are to be paid by the customer.</p>
            </li>
            <li>
              <h3 class="product-faq-select-item">How about the shipping fee? Does Deeper Network offer free shipping?</h3>
              <p class="product-faq-select-item">Please refer to our <a href="/pages/shipping-policy" target="_blank">shipping policy</a>.
              </p>
            </li>
            <li>
              <h3 class="product-faq-select-item">How can I get discounts when shopping?</h3>
              <p class="product-faq-select-item">
              We will hold some discounted marketing campaigns, please follow our website and social media accounts. <br />
              At the same time, we will also send coupons to email subscribers at irregular times, so please subscribe to the email, you can’t miss it.<br />
              Participate in our <a href="https://shop.deeper.network/pages/affiliate" target="_blank">affiliate events</a> and earn money while helping your friends get great deals.</p>
            </li>
          </ul>
        </div>
      </div>
    </div> 
  </div>
</section>

<style>
  #product-faq{
    width: 1000px;
  }

  .product-faq-header-title{
    font-family: inter; 
    font-size: 48px;
    color: #1d1d1d; 
    margin-top:unset;
    margin-bottom: 48px; 
    text-align:center;
    margin-left:auto; 
    margin-right:auto
  }

  .product-faq-select-item{
    font-family: inter;  
    color: #1d1d1d;
  }

  
  .product-faq__selector {
    display: flex;
    margin: 0px 0px 20px; 
    justify-content: center;
    overflow: auto;
  }
  
  .product-faq__selector ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
    border-bottom: 1px solid #86868B;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;  
  }
  
  .product-faq__selector ul li {
    cursor: pointer;
    display: inline-block; 
    color: #86868B; 
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    white-space: nowrap;
    /* 140% */
  }
 
.product-faq__selector ul li.selected{
  color: #1D1D1F;
  border-bottom: 1px solid #1D1D1F;
}

.product-faq__grid {
  margin-bottom: 108px;
}

.product-faq__grid ul {
  margin: 0px;
  list-style: none;
  padding: 0px;
}
 .product-faq__grid ul li h3 {
  cursor: pointer;
  padding: 24px;
  border-bottom: 1px solid #525254;
  content: '';
  background-image: url('data:image/svg+xml,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20width=%2216%22%20height=%2217%22%20viewBox=%220%200%2016%2017%22%20fill=%22none%22%3E%3Cpath%20d=%22M4.86231%203.35029L5.80511%202.40748L11.462%208.06434L5.80511%2013.7212L4.8623%2012.7784L9.57635%208.06434L4.86231%203.35029Z%22%20fill=%22%23BBBBBB%22/%3E%3C/svg%3E');
  background-size: 16px 16px;
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: center;
  color: #1d1d1d;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.product-faq__grid ul li h3.showed {
  /* color: #5767FF !important; */
  /* border-bottom: 1px solid #5767FF !important; */
  content: '';
  /* background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAACXBIWXMAABYlAAAWJQFJUiTwAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAADPSURBVHgB7ZNtDcIwEIbvpgAJkwAScFAJM0CCFIIDHDQYQAJImAQUUHZNkzX7SNu7/tiSe5JlS6/r+3TdASiKouwZY64tXSAAgQkFo/u96Nlhc7b21gMDlkAU3oahnitRLLAQDhKJpmTyNNw5eAy3Tyj7Wuk/kS2wFG6f9452LZHIOoK18Kh+CPVjGMo+jqRAKlwqgTXCJRJYK5wrgTXDORK48vKbG56QOA0S33jerA1pgkPf3+zwcZ2xRf1ak/DUDgxUgL6EMZcOFEVRtsofS1a67PnJIUEAAAAASUVORK5CYII=); */
  background-size: 16px 16px;
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: center;
}

.product-faq__grid ul li {
  position: relative;
}

.product-faq__grid ul li a {
  color: #CCC;
}

.product-faq__grid ul li::after {
  margin-top: 100px;
  display: inline-block;
  width: 50px;
  height: 50px;
  border-top: 5px solid #ccc;
  border-left: 5px solid #ccc;
  transform: rotate(135deg)
}

.product-faq__grid ul li p {
  font-family: 'inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px; 
  display: none;
  line-height: 200%;
}


  
  @media screen and (max-width:1024px) {
    #product-faq{
      width: 100%;
    }
    .product-faq__grid ul li h3{
      padding: 14px 0 !important;
    }

    .product-faq-header-title{
      font-size: 22px;
      white-space: nowrap;
    }

    .product-faq-select-item{
      product-faq-select-item
      font-size: 14px;
    }

    .product-faq__selector ul::-webkit-scrollbar {
      display: none; /* 隐藏Webkit浏览器的滚动条 */ 
      margin-left:100px;
    }
    .product-faq__selector ul{
      justify-content: space-between;
      width: 100%;
    }
  }

</style>


{% schema %}
{
  "name": "Product FAQ",
  "settings": [
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 180,
      "step": 2,
      "unit": "px",
      "label": "Padding top",
      "default": 64
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 180,
      "step": 2,
      "unit": "px",
      "label": "Padding bottom",
      "default": 64
    }
  ],
  "presets": [
    {
      "name": "Product FAQ",
      "category": "Product"
    }
  ]
}
{% endschema %} 